* {box-sizing: border-box}
body {
	margin:0;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
	background: center center cover no-repeat fixed;
}

.carousel-slides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slides-container {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -180px;
  background: #f0f0f0;
  border: 10px solid white;
  border-radius: 10px;
  z-index: 15;
}

/* Next & previousious buttons */
.previous, .next {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
  z-index: 20;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: blue;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Slide number text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #000;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fading {
  -webkit-animation-name: fading;
  -webkit-animation-duration: 1s;
  animation-name: fading;
  animation-duration: 1s;
}

@-webkit-keyframes fading {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fading {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .previous, .next,.text {font-size: 11px}
}